.mainContainer{
  width: 100%;
}

.wensiteViewNavBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.menuLogo{
  display: none;
}
.websiteLogo{
  width: 15%;
  padding: 20px;
}
.searchIcon{
  display: none;
}

/* input form in navbar starts */
.searchBoxContainer{
  width: 70%;
}
.searchInputBox{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px 0 0 5px;
  padding: 10px;
}
.searchButton{
  background-color: green;
  color: white;
  border-radius: 0px 5px 5px 0;
  border: 2px solid green;

  display: flex;
  justify-content: center;
  align-items: center;
}
.searchButton:hover{
  background-color: black;
  border: 2px solid black;
}
.searchText{
  margin: 0 auto;
  padding-right: 5px;
  font-size: 0.8rem;
}
.searchIconInsideNav{
  font-size: 1rem;
  margin: 0 auto;
}
/* input form in navbar ends*/


.cartandheart{
  width: 8%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cartLogo,.heartLogo,.searchIcon{
  font-size: 1.7rem;
  color: green;
}

.sideBar{
  display: none;
}


@media only screen and (max-width: 720px) {

  .searchBoxContainer{
    display: none;
  }
  .wensiteViewNavBar{
    justify-content: space-around;
  }
  .menuLogo{
    display: block;
    font-size: 1.7rem;
    color: green;
    width: 10vw;
  }
  .websiteLogo{
    width: 30vw;
  }
  .cartandheart{
    width: 30vw;
  }


  .sideBar{
    height: 100vh;
    width: 80%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: scroll;
    background-color: white;
    box-shadow: 12px 4px 10px 1px #969696;
  }
  .carLogoOnMobile{
    width: 30%;
    padding: 10px 0 10px 0;
    align-self: center;
  }
  .sideBarItems{
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }
  .insidebar{
    position: absolute;
    top: 0;
    margin-top: 4%;
    margin-left: 85%;
  }

  .carLogo{
    align-self: center;
  }
}




